@charset "utf-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
body {color: #333;}

/* 태블릿, 모바일용 */
/* 필요 없는 부분(모바일일때 나타나야 할 것들) 없애기 */
.xi-bars {display: none;}
.m_nav {display: none;}

/* header */
header {
    /* calc : 함수, 계산하는 기능 */
    width: calc(100% - 100px);
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    background-color:rgba(239, 242, 246, 0.79);
    display: flex;
    justify-content: flex-end; /* 네이게이션을 끝에 붙일때 */
    position: relative;
    z-index: 9;
}
header h1 a img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
header .pc ul {
    display: flex;
}

header .pc ul li a {
    color: #333;
    padding: 0 30px; /* 패딩 사용시 a 태그에 사용해야 링크 영역이 확장됨 */
    display: block;
}

/* .main_visual */

/* position:relative 와
position:absolute를 이용하여 이미지 수평 가운데 배치하기 */
.main_visual {
    height: 100vh;
    /* position: relative; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.main_visual div {
    width: 100%;
    /* 수직가운데 정렬, 글자 유지 */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* top:50%
    left:50%
    tranform:translate(-50%, -50%)
    =수직가운데 정렬, 전체의 50%를 차지하기 때문에 영역이 조금만 줄어도 글자가 내려옴*/
    text-align:center;
    color: rgba(105, 155, 205, 0.718);
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map {
    /* height: 1000px; */
    background-color: rgb(239, 242, 246);
    z-index: 9; /* position 값이 필수 */
    position: relative; /* 본인이 중심이 되는 것 */
    margin-top: 100vh;
    padding: 100px 0;
}
.map .cont {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

.map .cont h4 {
    font-size: 25px;
    color: rgb(121, 120, 120);
}

.map .cont p {
    font-size: 18px;
    margin-top: 10px;
    color: rgba(105, 155, 205, 0.718);
}

.map .cont dl {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgba(105, 155, 205, 0.718);
}

.map .cont dl dt {
    font-weight: bold;
    margin-right: 10px;

}

.map .cont dl dd {
    margin-right: 30px;
}
.map .cont dl dd a{
    color: rgba(105, 155, 205, 0.718);
}
.map .cont iframe {
    width: 100%;
    opacity: 70%;
}


@media screen and (max-width:1024px) {
    .pc {display: none;}
    .xi-bars {
        display: block;
        color: #333;
        line-height: 100px;
        font-size: 30px;
        margin-right: 20px;
    }
    .xi-bars span {
        /* font-size: 0; */
        position: absolute;
        left: -9999999999999px; /* 양수 입력시 스크롤 바 생성됨 */
    }
}/* 1024px 이하일 때 */


@media screen and (max-width:640px){
    header {
        width: calc(100% - 50px);
    }
    .map .cont div h4{
        font-size: 20px;
    }
    .map .cont div p {
        font-size: 16px;
    }

    /* 세로정렬 */
    .map .cont div dl {
        flex-wrap: wrap;
    }
    .map .cont div dl dt {
        width: 10%;
    }
    .map .cont div dl dd {
        width: 80%;
    }
}/* 640px 이하일 때 */